{
  "SaveName": "先巴恩B巴恩斯的世界3",
  "WorldName": "644409",
  "GameModeIdx": 0,
  "GameVersion": 100000000,
  "IsHost": true,
  "HostID": 396223978,
  "GameType": 9,
  "LanGameStartServerTime": 0,
  "RoomName": "先巴恩B巴恩斯的世界3",
  "RoomType": 0,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": false,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1625201090,
  "TotalPlayTime": 58230,
  "UpdateTime": 1625200822,
  "AllowCheat": false,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "C:\\MCLDownload\\Game\\united_emmeria@163.com\\LanGameHost\\先巴恩B巴恩斯的世界3",
  "GUID": "LanGame-9bd58fe2-7090-4d1c-848f-4da6479de1af",
  "WorldId": null,
  "RecentRoleID": null,
  "OpenCMDWindow": false,
  "InstallComponents": [
    {
      "ID": "4645294384185648798"
    }
  ],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [
    {
      "ID": "4645294384185648798"
    }
  ],
  "RoleList": [
    {
      "ahp": false,
      "Name": "先巴恩B巴恩斯",
      "CreatedTimeStamp": 1622243283,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": true,
  "Java": 8,
  "ServerID": 0,
  "tag_ids": [
    1,
    5
  ],
  "item_ids": [],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}