{
  "SaveName": "先巴恩B巴恩斯的世界",
  "WorldName": "914842",
  "GameModeIdx": 0,
  "GameVersion": 100000000,
  "IsHost": true,
  "HostID": 396223978,
  "GameType": 9,
  "LanGameStartServerTime": 0,
  "RoomName": "先巴恩B巴恩斯的世界",
  "RoomType": 0,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": false,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1625830635,
  "TotalPlayTime": 12789,
  "UpdateTime": 1625830562,
  "AllowCheat": false,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "C:\\MCLDownload\\Game\\united_emmeria@163.com\\LanGameHost\\先巴恩B巴恩斯的世界",
  "GUID": "LanGame-4d81b98e-eadb-4572-9491-8544d21de701",
  "WorldId": null,
  "RecentRoleID": null,
  "OpenCMDWindow": false,
  "InstallComponents": [
    {
      "ID": "4637111662150554276"
    }
  ],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [],
  "RoleList": [
    {
      "ahp": false,
      "Name": "先巴恩B巴恩斯",
      "CreatedTimeStamp": 1625815974,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": true,
  "Java": 8,
  "ServerID": 0,
  "tag_ids": [
    1,
    5
  ],
  "item_ids": [],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}