{
  "SaveName": "先巴恩B巴恩斯的世界1",
  "WorldName": "710163",
  "GameModeIdx": 0,
  "GameVersion": 100000000,
  "IsHost": true,
  "HostID": 396223978,
  "GameType": 9,
  "LanGameStartServerTime": 0,
  "RoomName": "先巴恩B巴恩斯的世界1",
  "RoomType": 2,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": false,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 1622242805,
  "TotalPlayTime": 8640,
  "UpdateTime": 1622242681,
  "AllowCheat": false,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "C:\\MCLDownload\\Game\\united_emmeria@163.com\\LanGameHost\\先巴恩B巴恩斯的世界1",
  "GUID": "LanGame-dc0ec031-87c0-44a1-be14-901736e64e9d",
  "WorldId": null,
  "RecentRoleID": null,
  "OpenCMDWindow": false,
  "InstallComponents": [],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [],
  "RoleList": [
    {
      "ahp": false,
      "Name": "先巴恩B巴恩斯",
      "CreatedTimeStamp": 1621071802,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": true,
  "Java": 8,
  "ServerID": 0,
  "tag_ids": [
    1,
    5
  ],
  "item_ids": [],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}